.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  width: 100%;
  max-width: 600px;
  padding: 1em;
}

mat-card-content {
  margin-top: 1em;
}

button {
  width: 25vw;
  margin-bottom: 10px;
}

.button-container {
  display: grid;
  justify-content: center;
  align-items: center;
}
