mat-selection-list {
  max-height: 10em;
  overflow-y: scroll;
}

.line-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

mat-card {
  padding: 1em;
}

.description {
  padding: 1em;
}
